<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanCafe"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.User.PersonInformation.MainPersonInformationActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.Signup"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.OTPSignup"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.OTPLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Auth.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Auth.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSDlVNQ5ZF6AQ7oFhDnDODOMm3K7REwnY" />

        <activity
            android:name=".Activity.Admin.MainAdminActivity"
            android:exported="true"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/Base.Theme.HanCafe" />
        <activity
            android:name=".Activity.User.Order.Management.MainOrderActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.User.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.User.Orders" />
        <activity android:name=".Activity.User.Bill" />

        <activity android:name=".Activity.User.CategoryDetail" />
        <activity android:name=".Activity.User.ProductDetail" />
        <activity android:name=".Activity.User.Pay"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>
        </activity>




    </application>

</manifest>